<h3>商品新規登録</h3>

<div>
  <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
  <table>
    <thead>
      <tr>
        <th>商品画像</th>
        <th>商品名</th>
        <th>商品説明</th>
        <th>税抜価格</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= f.file_field :image, accept: "image/*" %></td>
        <td><%= f.text_field :name %></td>
        <td><%= f.text_field :introduction %></td>
        <td><%= f.text_field :price %>円</td>
      </tr>
    </tbody>
  </table>
  <div><%= f.submit '新規登録' %></div>
  <% end %>
</div>
